p {
    font-family: serif;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 50px;
    letter-spacing: 5px;
    color: darkblue;
}

a{
    color: aqua;
    font-weight: bold;
}

a:hover{
    color: aquamarine;
}

a:active{
    color: blueviolet;
}

a:visited{
    color: red;
}

body{
    width: 90%;
    margin:auto;
}

blockquote{
    
    width: 45%;
    font-size: 160%;
    background-color: gray;

}
q{
    background-color: gray;
    font-size: 160%;
    width: 45%;
}